#about {
    font-size: 4em;
    margin: 20px;
    color:#2C5745;
    text-align: center;
}

#about_line {
    background-color: #EB7D00;
    height: 5px;
    width: 550px;
    border: none;
    margin-left: 30%;
}