/* transistion :all 0.4s ease in out */

.app_box {
    background-color: #EBE3A7;
    height: 1500px;
    width: 40vw;
    margin: 2% 0 0 30.6%;
    border-radius: 20px;
}

.names , .row_3 {
    display: flex;
    justify-content:space-evenly;
    width: 150px;
    height: 80px;
    color: #2C5745;
    font-size: 20px;
    gap: 100px;
    padding: 0 0 0 20px;
}

.row_2 {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    height: 80px;
    gap: 100px;
    color: #2C5745;
    padding: 55px 0 0 20px;
    font-size: 20px;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

#firstname_in , #lastname , #email_in ,#d , #docs , #issues {
    border-radius: 10px;
    height: 60px;
    width: 200px;
    border-style: none;
    padding-left: 15px; 
}

#neelima {
    height: 200px;
    width: 200px;
    padding:15px 0 0 30.75%;
}

/* .email  {
    padding: 60px 0 0 20px;
} */

.issue , .preference {
    padding: 40px 0 0 0;
    gap: 100px;
}

#textbox {
    width:550px;
    height: 150px;
    border-radius: 20px;
    border-style: none;
    padding-left: 15px;
    color: #2E2910;
    font-size: 18px;
    resize:vertical;
    word-break: break-all;
    white-space: pre-wrap; 
    padding:10px 0 0 10px;
}
.exp_issue {
    padding: 80px 0 0 20px;
    font-size: 20px;
    /* display: flex;
    justify-content:space-evenly; */
} 

#opinon {
    width: 25px;
    height: 25px;
    margin-left:20px;
    /* margin-top: 25px;  */
}

.so {
    font-size: 20px;
    color: #2C5745;
}


.row_5 {
    display: flex;
    padding-top: 20px;
    gap: 50px;
}

.img_below {
    color: #2C5745;
    font-size: 20px;
}

#upload{
    background-color: #2E2910;
    color: #EB7D00;
    font-weight: 200;
    height:150px;
    width:150px;
    border-radius: 15px;
    border-style: none;
    font-size: 18px;
}

#plus {
    color: #2C5745;
    font-size: 18px;
    padding-right: 10px;
}

.row_5 {
    display: flex;
    gap: 150px;
}