/* transistion :all 0.4s ease in out */

.app_box {
    background-color: #EBE3A7;
    height: 1500px;
    width: 40vw;
    margin: 2% 0 0 30.6%;
    border-radius: 20px;
}

.names , .row_2 ,.row_3   {
    display: flex;
    justify-content:stretch;
    width: 150px;
    height: 80px;
    color: #2C5745;
    font-size: 20px;
    gap: 100px;
    padding: 0 0 0 20px;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#firstname , #lastname , #email ,#d , #docs , #issues {
    border-radius: 10px;
    height: 60px;
    width: 200px;
    border-style: none;
    padding-left: 15px;
}

#neelima {
    height: 200px;
    width: 200px;
    padding:15px 0 0 30.75%;
}

.email , .date {
    color: #2C5745;
    padding: 60px 0 0 0;
    font-size: 20px;
}

.issue , .preference {
    color: #2C5745;
    padding: 100px 0 0 0;
    font-size: 20px;
}

#textbox {
    width: 35vw;
    height: 150px;
    border-radius: 20px;
    border-style: none;
    padding-left: 15px;
    color: #2E2910;
    font-size: 18px;
    resize:vertical;
    word-break: break-all;
    white-space: pre-wrap; 
    padding:10px 0 0 10px;
}
.exp_issue {
    color: #2C5745;
    padding: 150px 0 0 20px;
    font-size: 20px;
}

#info {
    color: #2C5745;
    padding: 0 0 10px 500px;
    position: absolute;
    bottom: 35px;
}

#opinon {
    width: 25px;
    height: 25px;
    margin-left:20px;
    /* margin-top: 25px;  */
}

.so {
    font-size: 20px;
    color: #2C5745;
}


.row_5 {
    display: flex;
    padding-top: 20px;
    gap: 50px;
}