body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
}

a {
    text-decoration: none;
}

.text {
  width: 40vw;
  height: 100vh;
  background-color: #eb7d00cb; 
  /* Use padding instead of margins to space things away from the edge */
  padding: 20px;
  box-sizing: border-box;
}

.menu_bar {
  background-color: #EBE3A7; /* Light yellow background */
  border-radius: 30px;
  border-left-color: #2C5745;
  width: 1200px;               /* Fills the available width inside the .text box */
  height: 85px;
  margin-left: 200px;
  /* padding: 0; */
  font-size: 20px;
  text-decoration: none;
  color:#2E2910;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#home {
    color: #2E2910;
}

#about {
    color: #2E2910;
}

#people {
    color: #2E2910;
}

#depts {
    color: #2E2910;
}

#appointment {
    color:#2E2910
}
