body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
  display: flex;
}

a {
    text-decoration: none;
}

.menu_bar {
  color: #EBE3A7; /* Light yellow background */
  border-radius: 200px;
  border-width: 4px;
  border-style: solid;
  border-bottom-color: #EB7D00;
  border-top-color: #2C5745;
  width: 76vw;               /* Fills the available width inside the .text box */
  height: 60px;
  margin-left: 150px; 
  /* padding: 0; */
  font-size: 20px;
  text-decoration: none;
  background-color:#2E2910;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#home {
    color: #EBE3A7;
}

#about {
    color: #EBE3A7;
}

#people {
    color: #EBE3A7;
    position: relative;
}

#depts {
    color: #EBE3A7;
    padding-right:0px;

}

#appointment {
    color:#EBE3A7;
    position: relative;
}


.text {
  width: 40vw;
  height: 100vh;
  background-color: #EBE3A7; 
  /* Use padding instead of margins to space things away from the edge */
  padding: 20px; 
  box-sizing: border-box;
}

#down {
    margin-left: 15px;
}

#down2 {
    padding-left:0px;
}

#p1 {
    color: #2E2910;
    font-size: 2.5em;
    padding-left: 20px;
    padding-top: 25%;
}

#h1_pic {
    height: 100vh;
    z-index: -1;
    width: 80vw;
    margin-left: 115px; 
}

#redirect_icon {
    position: absolute;
    right: 225px;
    top: 5.75%;
}

#sodhi {
    color:#2E2910;
    padding-left: 20px;
    position: relative;
    bottom: 250px;
    font-size: 22px;
}

#menu_logo {
    height:70px;
    width: 70px;
    padding: 0;
}

#text_logo {
    height: 300px;
    width: 300px;
    padding: 20px;
}

#h1 {
    position:relative;
    right: 70px;
}

#p1 {
    position: relative;
    bottom: 225px;
}